@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

.filament-body {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
